{% extends "Panel/base.html" %}

{% block titulo %}
  Platillos
{% endblock titulo %}
{% block content %}

 <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Platillos</h6>
    </div>
    <div class="card-body">
        {% if object_list %}

        <a class="btn btn-primary mb-3" href="{% url 'Dashboard:create_dish' restaurant %}">
            Agregar Platillo.
        </a>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Descripción</th>
                      <th>Precio</th>
                      <th>Restaurant</th>
                      <th>Categoria</th>
                      <th>Sabor</th>
                      <th>Opciones</th>
                    </tr>
                </thead>

                <tbody>
                    {% for restaurant in object_list %}
                    <tr>
                      <td>{{ restaurant.name }}</td>
                      <td>{{ restaurant.description }}</td>
                      <td>{{ restaurant.price }}</td>
                      <td>{{ restaurant.restaurant }}</td>
                      <td>
                        {% for categorie in restaurant.categories.all %}
                            {{ categorie }}
                            <br>
                        {% endfor %}
                      </td>
                        <td align="center">
                        {% for flavor in restaurant.flavors.all %}
                            {{ flavor }}
                        {% endfor %}
                        </td>
                      <td align="center">
                          <a href="{% url 'Dashboard:update_dish' restaurant.id %}"><i class="fas fa-pen-square"></i></a>
                          <a href="{% url 'Dashboard:delete_dish' restaurant.id %}"><i class="fa fa-trash"></i></a>
                      </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        {% else  %}

        <h1 class="h4 text-gray-900 mb-4"> Aún no cuenta con Platillos </h1>
        <a class="btn btn-primary mb-3" href="{% url 'Dashboard:create_dish' restaurant%}">
            Nuevo Platillo.
        </a>

        {% endif %}

    </div>
 </div>

{% endblock content %}