{% extends "Panel/base.html" %}

{% block titulo %}
  Horarios
{% endblock titulo %}
{% load static %}
{% block content %}
 <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Horarios</h6>
    </div>
    <div class="card-body">
        {% if object_list %}
        <a class="btn btn-primary mb-3" href="{% url 'Dashboard:create_shedule'  pk %}">
            Nuevo Horario.
        </a>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Restaurante</th>
                      <th>Hora Apertura</th>
                      <th>Hora Cierre</th>
                      <th>Dias</th>
                      <th>Opciones</th>
                    </tr>
                </thead>

                <tbody>
                {% for object in object_list %}
                    <tr>
                      <td>{{ object.restaurant }}</td>
                      <td>{{ object.time_open }}</td>
                      <td>{{ object.time_close }}</td>
                      <td>
                          {% for day in object.days.all %}
                            {{ day }}
                          {% endfor %}

                      </td>
                      <td align="center">
                          <a href="{% url 'Dashboard:update_shedule' object.id %}"><i class="fas fa-pen-square"></i></a>
                          <a href="{% url 'Dashboard:delete_shedule' object.id %}"><i class="fa fa-trash"></i></a>
                      </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        {% else  %}

        <h1 class="h4 text-gray-900 mb-4"> Aún no cuenta con Horarios </h1>
        <a class="btn btn-primary mb-3" href="{% url 'Dashboard:create_shedule' pk%}">
            Nuevo Horario.
        </a>

        {% endif %}

    </div>
 </div>

{% endblock content %}