{% extends 'Panel/base.html' %}

{% block titulo %}
    Actualizar Red
{% endblock titulo %}


{% block content %}
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1
                                    class="h4 text-gray-900 mb-4">
                                    <!-- Titulo del contenido -->
                                    Actualizar los datos de la red
                                </h1>
                            </div>
                            <form class="user" method="POST">
                                {% csrf_token %}

                                <div class="form-group">
                                    {{ form.as_p }}
                                </div>

                                <br/>
                                <hr/>
                                <br/>
                                <button class="btn btn-primary btn-user">
                                    Actualizar datos
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}