{% extends 'Dashboard/base_registros.html' %}


{% block titulo %}
    Login
{% endblock titulo %}


{% block form %}
    <form class="login100-form validate-form" method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <p style="color:red; margin-bottom: 5px">
                Usuario o contraseña incorrectos, prueba de nuevo.
            </p>
        {% endif %}

        <div class="wrap-input100 validate-input m-b-26" data-validate="Ingrese un usuario">
            <span class="label-input100">{{ form.username.label}}</span>
            {{ form.username}}
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate="Ingrese una contraseña">
            <span class="label-input100">{{ form.password.label }}</span>
            {{ form.password }}
            <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-b-30">
            <div class="contact100-form-checkbox">
                ¿No tienes cuenta?
            </div>

            <div>
                <a href="{% url 'Dashboard:new_user' %}" class="txt1" style="color:rgb(204, 31, 31); font-weight: bold; font-size: 1.1rem;">
                    Registrate
                </a>
            </div>
        </div>
        <button class="login100-form-btn" type="submit">
            Acceder
        </button>
    </form>
{% endblock form %}
