<!DOCTYPE html>
<html lang="es">
<head>
	<title>Flavors | Registro</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% load static %}
	<link rel="icon" type="image/png" href="{% static 'Dashboard/images/icons/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'Dashboard/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Dashboard/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Dashboard/css/main.css' %}">
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url('{% static 'Dashboard/images/bg-02.jpg'%}');"></div>				

				<form class="login100-form validate-form" method="POST">
					{% csrf_token %} 
					
					<div class="row">
					{% for field in form %}
						<div class="wrap-input100 validate-input m-b-26">
							{% if field.errors %}								
								<span style="color:red; margin-bottom: 5px">
									{{field.errors}}
								</span>
							{% endif %}

							{{ field.label_tag }} {{ field }}
							<span class="focus-input100"></span>
						</div>
					{% endfor %}

                    {{detalle_client_form_set.management_form}}
					{% for detalle_client_form in detalle_client_form_set %}
						<div class="wrap-input100 validate-input m-b-26">
							<span style="color:red; margin-bottom: 5px">
								{{detalle_client_form.phone.errors}}
							</span>
							<label>Número Telefónico:</label>
							{{detalle_client_form.phone}}							

							<div class="validation"></div>
						</div>
						<div class="wrap-input100 validate-input m-b-26">
							<span style="color:red; margin-bottom: 5px">
								{{detalle_client_form.phone.errors}}
							</span>
							<label>Plan:</label>
							{{detalle_client_form.plan}}
							<div class="validation"></div>
						</div>
						<div class="wrap-input100 validate-input m-b-26">
							<span style="color:red; margin-bottom: 5px">
								{{detalle_client_form.phone.errors}}
							</span>
							<label>Ciudad:</label>
							{{detalle_client_form.city}}
							<div class="validation"></div>
						</div>
					{% endfor%}
					
				</div>

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
								¿ Ya tienes cuenta?
						</div>
						<div>
							<a href="{% url 'Dashboard:login' %}" class="txt1" style="color:rgb(204, 31, 31); font-weight: bold; font-size: 1.1rem;">
								Inicia Sesión
							</a>
						</div>
					</div>

                    <button class="login100-form-btn" type="submit">
                        Registrarme
                    </button>
				</form>

			</div>
		</div>
	</div>

	<script src="{% static 'Dashboard/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Dashboard/js/main1.js' %}"></script>

</body>
</html>