{% extends 'Dashboard/base_registros.html' %}

{% block titulo %}
  Recupera tu Contraseña
{% endblock titulo %}

{% block form %}
    <div class="text-center" style="margin-top: 30px">
        <h1
            class="h4 text-gray-900 mb-4">
            Recupera tu Cuenta
        </h1>
    </div>
    <form class="user" method="POST" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {% for field in form %}
                {% if field.errors %}								
                    <span style="color:red; margin-bottom: 5px">
                        {{field.errors}}
                    </span>
                {% endif %}

                {{ field.label_tag }} {{ field }}
            {% endfor %}                                    
        <br>
        <hr>
        <br>
        <button class="btn btn-primary btn-user" type="submit">
            Enviar Email
        </button>
    </form>     
{% endblock form %}